# ==========================================
# Server Configuration
# ==========================================
PORT=3001
BASE_URL=http://localhost:
NODE_ENV=development
SERVICE_NAME=room-comfort-be
WHITE_LIST=http://localhost:8080,http://localhost:5173
DEFAULT_LANGUAGE=en

# ==========================================
# Database Configuration (PostgreSQL)
# ==========================================
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASS=postgres
DATABASE_NAME=room-comfort
SSL_MODE=false

# ==========================================
# Authentication & Security
# ==========================================
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=1d
API_KEY_SERVICE=your_api_key_service_here

# Initial Seeding Credentials
DEFAULT_USER_EMAIL=
DEFAULT_USER_PASSWORD=

# ==========================================
# MQTT Broker & Topics
# ==========================================
MQTT_URL=
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TEMPERATURE_TOPIC=dadn/feeds/temperature
MQTT_HUMIDITY_TOPIC=dadn/feeds/humidity
MQTT_FAN_TOPIC=dadn/feeds/fan
MQTT_FAN_ON_PAYLOAD=1
MQTT_FAN_OFF_PAYLOAD=0

# ==========================================
# Threshold Configuration
# ==========================================
DEFAULT_MIN_TEMPERATURE=20
DEFAULT_MAX_TEMPERATURE=30
